.skills-section {
  padding: 4rem;
  background: var(--white);
  height: 100%;
  width: 100%;

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--yellow);
  }

  h4 {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .skills-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;

    margin: 0 auto;

    .gallery {
      width: 100%;
      max-height: 120px;
      object-fit: contain;

      transition: all 450ms;
      img {
        height: 6rem;
        width: 6rem;
        object-fit: cover;
      }
    }
  }
}
