.footer-wrapper {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__link {
    display: flex;
    justify-content: space-around;
    width: 15%;
  }
}
